.popup__message-error {
    font-size: 12px;
<<<<<<< HEAD
=======
    color: red;
>>>>>>> main
    opacity: 0;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    transition: 0.3s;
    z-index: 1;
}